In [35]:
import pandas as pd
import numpy as np

In [36]:
df_educacion = pd.read_csv('../files/inferencias/educacion_TIC.csv', sep=';', encoding='latin1')

In [37]:
df_educacion.head()

,Sexo,Caracterï¿½sticas socioeconï¿½micas,Tipo de uso de TIC,Total
0,Ambos sexos,Total Personas,Total Personas,36663412
1,Ambos sexos,Total Personas,Personas que han utilizado el telï¿½fono mï¿½vil,"99,1"
2,Ambos sexos,Total Personas,Personas que han utilizado Internet en los ï¿½...,"95,8"
3,Ambos sexos,Total Personas,Personas que han utilizado Internet al menos u...,95
4,Ambos sexos,Total Personas,Personas que han utilizado Internet diariament...,"91,5"

In [38]:
df_educacion. columns

Index(['Sexo', 'Caracterï¿½sticas socioeconï¿½micas', 'Tipo de uso de TIC',
       'Total'],
      dtype='object')

In [39]:
df_educacion.rename(columns={
    'Caracterï¿½sticas socioeconï¿½micas': 'caracts_socioecon',
    'Tipo de uso de TIC': 'uso_TIC',
    'Sexo':'sexo',
    'Total':'total'
}, inplace=True)

In [40]:
df_educacion.columns

Index(['sexo', 'caracts_socioecon', 'uso_TIC', 'total'], dtype='object')

In [41]:
df_educacion['sexo'].value_counts()

sexo
Ambos sexos     198
Sexo: Hombre    198
Sexo: Mujer     198
Name: count, dtype: int64

In [42]:
map = {'Sexo: Mujer': 'mujer',
        'Sexo: Hombre': 'hombre'}

df_educacion['sexo'] = df_educacion['sexo'].map(map)

In [43]:
df_educacion['sexo'].value_counts()

sexo
hombre    198
mujer     198
Name: count, dtype: int64

In [44]:
df_educacion['uso_TIC'].value_counts()

uso_TIC
Total Personas                                                                              99
Personas que han utilizado el telï¿½fono mï¿½vil                                            99
Personas que han utilizado Internet en los ï¿½ltimos 3 meses                                99
Personas que han utilizado Internet al menos una vez por semana en los ï¿½ltimos 3 meses    99
Personas que han utilizado Internet diariamente (al menos 5 dï¿½as a la semana)             99
Personas que han comprado a travï¿½s de Internet en los ï¿½ltimos 3 meses                   99
Name: count, dtype: int64

In [45]:
df_educacion['uso_TIC'] = df_educacion['uso_TIC'].str.lower()

In [46]:
df_educacion['uso_TIC'].value_counts()

uso_TIC
total personas                                                                              99
personas que han utilizado el telï¿½fono mï¿½vil                                            99
personas que han utilizado internet en los ï¿½ltimos 3 meses                                99
personas que han utilizado internet al menos una vez por semana en los ï¿½ltimos 3 meses    99
personas que han utilizado internet diariamente (al menos 5 dï¿½as a la semana)             99
personas que han comprado a travï¿½s de internet en los ï¿½ltimos 3 meses                   99
Name: count, dtype: int64

In [47]:
map = {'personas que han utilizado el telï¿½fono mï¿½vil': 'telef_mov', 
    'personas que han utilizado internet en los ï¿½ltimos 3 meses':'uso_internet_ultimos3meses',
    'personas que han utilizado internet al menos una vez por semana en los ï¿½ltimos 3 meses':'uso_internet_semanal',
    'personas que han utilizado internet diariamente (al menos 5 dï¿½as a la semana)':'uso_internet_diario',
    'personas que han comprado a travï¿½s de internet en los ï¿½ltimos 3 meses':'compra_online_ultimos3meses'}

df_educacion['uso_TIC']= df_educacion['uso_TIC'].map(map)

In [48]:
df_educacion['uso_TIC'].value_counts()

uso_TIC
telef_mov                      99
uso_internet_ultimos3meses     99
uso_internet_semanal           99
uso_internet_diario            99
compra_online_ultimos3meses    99
Name: count, dtype: int64

In [49]:
df_educacion['caracts_socioecon'].value_counts()

caracts_socioecon
Total Personas                                                                                         18
Estudios terminados: Menos que primaria                                                                18
Estudios terminados: Educaciï¿½n Primaria                                                              18
Estudios terminados: Primera etapa de Educaciï¿½n Secundaria                                           18
Estudios terminados: Segunda etapa de Educaciï¿½n Secundaria                                           18
Estudios terminados: Formaciï¿½n Profesional de Grado Superior                                         18
Estudios terminados: Diplomatura universitaria y equivalentes                                          18
Estudios terminados: Licenciatura universitaria, mï¿½ster y equivalentes                               18
Estudios terminados: Doctorado universitario                                                           18
Estudios terminados: Otros                                                                             18
Situaciï¿½n laboral: Activos ocupados                                                                  18
Situaciï¿½n laboral: Activos parados                                                                   18
Situaciï¿½n laboral: Inactivos: Estudiantes                                                            18
Situaciï¿½n laboral: Inactivos: Labores del hogar                                                      18
Situaciï¿½n laboral: Inactivos: Pensionistas                                                           18
Situaciï¿½n laboral: Otra situaciï¿½n laboral                                                          18
Situaciï¿½n Profesional (en trabajo principal): Trabajador por cuenta ajena con contrato indefinido    18
Situaciï¿½n Profesional (en trabajo principal): Trabajador por cuenta ajena con contrato temporal      18
Situaciï¿½n Profesional (en trabajo principal): Trabajador por cuenta propia  con empleados            18
Situaciï¿½n Profesional (en trabajo principal): Trabajador por cuenta propia sin empleados             18
Situaciï¿½n Profesional (en trabajo principal):  Ayuda familiar (sin sueldo estipulado)                18
Jornada laboral (en trabajo principal) : A tiempo completo                                             18
Jornada laboral (en trabajo principal) : A tiempo parcial                                              18
Ocupaciï¿½n principal: Manual                                                                          18
Ocupaciï¿½n principal: No Manual                                                                       18
Ocupaciï¿½n principal: Trabajadores TIC                                                                18
Ocupaciï¿½n principal: Otros trabajadores                                                              18
Ingresos mensuales netos del hogar: Menos de 1.200 euros                                               18
Ingresos mensuales netos del hogar: De 1.200 a menos de 1.900 euros                                    18
Ingresos mensuales netos del hogar: De 1.900 a menos de 2.700 euros                                    18
Ingresos mensuales netos del hogar: De 2.700 a menos de 3.900 euros                                    18
Ingresos mensuales netos del hogar: 3.900 o mï¿½s euros                                                18
Ingresos mensuales netos del hogar: NS/NR                                                              18
Name: count, dtype: int64

In [50]:
# Reconvertimos desde latin1 a utf-8
df_educacion['caracts_socioecon'] = df_educacion['caracts_socioecon'].apply(lambda x: x.encode('latin1').decode('utf-8'))

In [51]:
df_educacion['caracts_socioecon'].value_counts()

caracts_socioecon
Total Personas                                                                                       18
Estudios terminados: Menos que primaria                                                              18
Estudios terminados: Educaci�n Primaria                                                              18
Estudios terminados: Primera etapa de Educaci�n Secundaria                                           18
Estudios terminados: Segunda etapa de Educaci�n Secundaria                                           18
Estudios terminados: Formaci�n Profesional de Grado Superior                                         18
Estudios terminados: Diplomatura universitaria y equivalentes                                        18
Estudios terminados: Licenciatura universitaria, m�ster y equivalentes                               18
Estudios terminados: Doctorado universitario                                                         18
Estudios terminados: Otros                                                                           18
Situaci�n laboral: Activos ocupados                                                                  18
Situaci�n laboral: Activos parados                                                                   18
Situaci�n laboral: Inactivos: Estudiantes                                                            18
Situaci�n laboral: Inactivos: Labores del hogar                                                      18
Situaci�n laboral: Inactivos: Pensionistas                                                           18
Situaci�n laboral: Otra situaci�n laboral                                                            18
Situaci�n Profesional (en trabajo principal): Trabajador por cuenta ajena con contrato indefinido    18
Situaci�n Profesional (en trabajo principal): Trabajador por cuenta ajena con contrato temporal      18
Situaci�n Profesional (en trabajo principal): Trabajador por cuenta propia  con empleados            18
Situaci�n Profesional (en trabajo principal): Trabajador por cuenta propia sin empleados             18
Situaci�n Profesional (en trabajo principal):  Ayuda familiar (sin sueldo estipulado)                18
Jornada laboral (en trabajo principal) : A tiempo completo                                           18
Jornada laboral (en trabajo principal) : A tiempo parcial                                            18
Ocupaci�n principal: Manual                                                                          18
Ocupaci�n principal: No Manual                                                                       18
Ocupaci�n principal: Trabajadores TIC                                                                18
Ocupaci�n principal: Otros trabajadores                                                              18
Ingresos mensuales netos del hogar: Menos de 1.200 euros                                             18
Ingresos mensuales netos del hogar: De 1.200 a menos de 1.900 euros                                  18
Ingresos mensuales netos del hogar: De 1.900 a menos de 2.700 euros                                  18
Ingresos mensuales netos del hogar: De 2.700 a menos de 3.900 euros                                  18
Ingresos mensuales netos del hogar: 3.900 o m�s euros                                                18
Ingresos mensuales netos del hogar: NS/NR                                                            18
Name: count, dtype: int64

In [52]:
df_educacion.head()

  sexo caracts_socioecon                     uso_TIC     total
0  NaN    Total Personas                         NaN  36663412
1  NaN    Total Personas                   telef_mov      99,1
2  NaN    Total Personas  uso_internet_ultimos3meses      95,8
3  NaN    Total Personas        uso_internet_semanal        95
4  NaN    Total Personas         uso_internet_diario      91,5

In [53]:
df_educacion[df_educacion['caracts_socioecon'] == 'Total Personas'].shape

(18, 4)

In [54]:
df_educacion.shape

(594, 4)

In [55]:
df_educacion.isnull().sum()

sexo                 198
caracts_socioecon      0
uso_TIC               99
total                  0
dtype: int64

In [56]:
df_educacion[df_educacion['uso_TIC'].notnull()]

,sexo,caracts_socioecon,uso_TIC,total
1,NaN,Total Personas,telef_mov,"99,1"
2,NaN,Total Personas,uso_internet_ultimos3meses,"95,8"
3,NaN,Total Personas,uso_internet_semanal,95
4,NaN,Total Personas,uso_internet_diario,"91,5"
5,NaN,Total Personas,compra_online_ultimos3meses,"56,7"
...,...,...,...,...
589,mujer,Ingresos mensuales netos del hogar: NS/NR,telef_mov,100
590,mujer,Ingresos mensuales netos del hogar: NS/NR,uso_internet_ultimos3meses,"90,7"
591,mujer,Ingresos mensuales netos del hogar: NS/NR,uso_internet_semanal,"90,7"
592,mujer,Ingresos mensuales netos del hogar: NS/NR,uso_internet_diario,"82,4"
593,mujer,Ingresos mensuales netos del hogar: NS/NR,compra_online_ultimos3meses,"38,6"

In [57]:
df_educacion = df_educacion[df_educacion['caracts_socioecon'] != 'Total Personas']

In [58]:
df_educacion['caracts_socioecon'].value_counts().head()

caracts_socioecon
Estudios terminados: Menos que primaria                         18
Estudios terminados: Educaci�n Primaria                         18
Estudios terminados: Primera etapa de Educaci�n Secundaria      18
Estudios terminados: Segunda etapa de Educaci�n Secundaria      18
Estudios terminados: Formaci�n Profesional de Grado Superior    18
Name: count, dtype: int64

In [59]:
df_educacion.columns

Index(['sexo', 'caracts_socioecon', 'uso_TIC', 'total'], dtype='object')

In [60]:
df_educacion.shape

(576, 4)

In [61]:
mapeo = {
    'Estudios terminados: Menos que primaria': 'Estudios terminados: Menos que primaria',
    'Estudios terminados: Educaci�n Primaria': 'Estudios terminados: Educacion Primaria',
    'Estudios terminados: Primera etapa de Educaci�n Secundaria': 'Estudios terminados: Primera etapa de Educacion Secundaria',
    'Estudios terminados: Segunda etapa de Educaci�n Secundaria': 'Estudios terminados: Segunda etapa de Educacion Secundaria',
    'Estudios terminados: Formaci�n Profesional de Grado Superior': 'Estudios terminados: Formacion Profesional de Grado Superior',
    'Estudios terminados: Diplomatura universitaria y equivalentes': 'Estudios terminados: Diplomatura universitaria y equivalentes',
    'Estudios terminados: Licenciatura universitaria, m�ster y equivalentes': 'Estudios terminados: Licenciatura universitaria, master y equivalentes',
    'Estudios terminados: Doctorado universitario': 'Estudios terminados: Doctorado universitario',
    'Estudios terminados: Otros': 'Estudios terminados: Otros',
    'Situaci�n laboral: Activos ocupados': 'Situacion laboral: Activos ocupados',
    'Situaci�n laboral: Activos parados': 'Situacion laboral: Activos parados',
    'Situaci�n laboral: Inactivos: Estudiantes': 'Situacion laboral: Inactivos: Estudiantes',
    'Situaci�n laboral: Inactivos: Labores del hogar': 'Situacion laboral: Inactivos: Labores del hogar',
    'Situaci�n laboral: Inactivos: Pensionistas': 'Situacion laboral: Inactivos: Pensionistas',
    'Situaci�n laboral: Otra situaci�n laboral': 'Situacion laboral: Otra situacion laboral',
    'Situaci�n Profesional (en trabajo principal): Trabajador por cuenta ajena con contrato indefinido': 'Situacion Profesional (en trabajo principal): Trabajador por cuenta ajena con contrato indefinido',
    'Situaci�n Profesional (en trabajo principal): Trabajador por cuenta ajena con contrato temporal': 'Situacion Profesional (en trabajo principal): Trabajador por cuenta ajena con contrato temporal',
    'Situaci�n Profesional (en trabajo principal): Trabajador por cuenta propia  con empleados': 'Situacion Profesional (en trabajo principal): Trabajador por cuenta propia con empleados',
    'Situaci�n Profesional (en trabajo principal): Trabajador por cuenta propia sin empleados': 'Situacion Profesional (en trabajo principal): Trabajador por cuenta propia sin empleados',
    'Situaci�n Profesional (en trabajo principal):  Ayuda familiar (sin sueldo estipulado)': 'Situacion Profesional (en trabajo principal): Ayuda familiar (sin sueldo estipulado)',
    'Jornada laboral (en trabajo principal) : A tiempo completo': 'Jornada laboral (en trabajo principal): A tiempo completo',
    'Jornada laboral (en trabajo principal) : A tiempo parcial': 'Jornada laboral (en trabajo principal): A tiempo parcial',
    'Ocupaci�n principal: Manual': 'Ocupacion principal: Manual',
    'Ocupaci�n principal: No Manual': 'Ocupacion principal: No Manual',
    'Ocupaci�n principal: Trabajadores TIC': 'Ocupacion principal: Trabajadores TIC',
    'Ocupaci�n principal: Otros trabajadores': 'Ocupacion principal: Otros trabajadores',
    'Ingresos mensuales netos del hogar: Menos de 1.200 euros': 'Ingresos mensuales netos del hogar: Menos de 1200 euros',
    'Ingresos mensuales netos del hogar: De 1.200 a menos de 1.900 euros': 'Ingresos mensuales netos del hogar: De 1200 a menos de 1900 euros',
    'Ingresos mensuales netos del hogar: De 1.900 a menos de 2.700 euros': 'Ingresos mensuales netos del hogar: De 1900 a menos de 2700 euros',
    'Ingresos mensuales netos del hogar: De 2.700 a menos de 3.900 euros': 'Ingresos mensuales netos del hogar: De 2700 a menos de 3900 euros',
    'Ingresos mensuales netos del hogar: 3.900 o m�s euros': 'Ingresos mensuales netos del hogar: 3900 o mas euros',
    'Ingresos mensuales netos del hogar: NS/NR': 'Ingresos mensuales netos del hogar: NS/NR',
}
df_educacion['caracts_socioecon'] = df_educacion['caracts_socioecon'].map(mapeo)

In [62]:
df_educacion['caracts_socioecon'].shape

(576,)

In [63]:
df_educacion['caracts_socioecon'].str.split(":", expand=True)

                                      0                    1     2
6                   Estudios terminados   Menos que primaria  None
7                   Estudios terminados   Menos que primaria  None
8                   Estudios terminados   Menos que primaria  None
9                   Estudios terminados   Menos que primaria  None
10                  Estudios terminados   Menos que primaria  None
..                                  ...                  ...   ...
589  Ingresos mensuales netos del hogar                NS/NR  None
590  Ingresos mensuales netos del hogar                NS/NR  None
591  Ingresos mensuales netos del hogar                NS/NR  None
592  Ingresos mensuales netos del hogar                NS/NR  None
593  Ingresos mensuales netos del hogar                NS/NR  None

[576 rows x 3 columns]

In [64]:
df_educacion[['caracts_socioecon_nombre','detalle_socioecon']] = df_educacion['caracts_socioecon'].str.split(":", n=1, expand=True).get([0,1])

In [65]:
df_educacion = df_educacion.drop(columns ='caracts_socioecon')

In [66]:
df_educacion = df_educacion[df_educacion['uso_TIC'].notnull()]

In [67]:
df_educacion['detalle_socioecon'][df_educacion['caracts_socioecon_nombre']=='Ingresos mensuales netos del hogar'].unique()

array([' Menos de 1200 euros', ' De 1200 a menos de 1900 euros',
       ' De 1900 a menos de 2700 euros', ' De 2700 a menos de 3900 euros',
       ' 3900 o mas euros', ' NS/NR'], dtype=object)

In [68]:
df_educacion['detalle_socioecon'][df_educacion['caracts_socioecon_nombre']=='Estudios terminados'].unique()

array([' Menos que primaria', ' Educacion Primaria',
       ' Primera etapa de Educacion Secundaria',
       ' Segunda etapa de Educacion Secundaria',
       ' Formacion Profesional de Grado Superior',
       ' Diplomatura universitaria y equivalentes',
       ' Licenciatura universitaria, master y equivalentes',
       ' Doctorado universitario', ' Otros'], dtype=object)

In [69]:
df_educacion['detalle_socioecon'][df_educacion['caracts_socioecon_nombre']=='Ocupacion principal'].unique()

array([' Manual', ' No Manual', ' Trabajadores TIC',
       ' Otros trabajadores'], dtype=object)

In [70]:
df_educacion['detalle_socioecon'][df_educacion['caracts_socioecon_nombre']=='Situacion Profesional (en trabajo principal)'].unique()

array([' Trabajador por cuenta ajena con contrato indefinido',
       ' Trabajador por cuenta ajena con contrato temporal',
       ' Trabajador por cuenta propia con empleados',
       ' Trabajador por cuenta propia sin empleados',
       ' Ayuda familiar (sin sueldo estipulado)'], dtype=object)

In [71]:
	df_educacion['detalle_socioecon'][df_educacion['caracts_socioecon_nombre']=='Jornada laboral (en trabajo principal)'].unique()

array([' A tiempo completo', ' A tiempo parcial'], dtype=object)

In [72]:
df_educacion['detalle_socioecon'][df_educacion['caracts_socioecon_nombre']=='Situacion laboral'].unique()

array([' Activos ocupados', ' Activos parados', ' Inactivos: Estudiantes',
       ' Inactivos: Labores del hogar', ' Inactivos: Pensionistas',
       ' Otra situacion laboral'], dtype=object)

In [73]:
df_educacion.sample(10)

,sexo,uso_TIC,total,caracts_socioecon_nombre,detalle_socioecon
589,mujer,telef_mov,100,Ingresos mensuales netos del hogar,NS/NR
73,NaN,telef_mov,"99,8",Situacion laboral,Inactivos: Estudiantes
89,NaN,compra_online_ultimos3meses,"30,2",Situacion laboral,Inactivos: Pensionistas
428,mujer,uso_internet_ultimos3meses,"99,5",Estudios terminados,Formacion Profesional de Grado Superior
454,mujer,uso_internet_diario,..,Estudios terminados,Otros
423,mujer,uso_internet_semanal,"97,5",Estudios terminados,Segunda etapa de Educacion Secundaria
79,NaN,telef_mov,"98,6",Situacion laboral,Inactivos: Labores del hogar
350,hombre,uso_internet_ultimos3meses,"99,3",Ocupacion principal,Trabajadores TIC
176,NaN,uso_internet_ultimos3meses,"94,1",Ingresos mensuales netos del hogar,De 1900 a menos de 2700 euros
101,NaN,compra_online_ultimos3meses,"67,9",Situacion Profesional (en trabajo principal),Trabajador por cuenta ajena con contrato inde...

In [74]:
df_educacion.to_csv('files/educacion_TIC_clean.csv', index=False)

In [75]:
df_equipamiento = pd.read_csv('../files/inferencias/equipamiento viviendas.csv',sep=';', encoding='latin1')

In [76]:
df_equipamiento.sample(10)

,Total Nacional,Comunidades y Ciudades Autï¿½nomas,Tipo de equipamiento,Total
18,Total Nacional,01 Andalucï¿½a,Viviendas con telï¿½fono fijo,"45,9"
118,Total Nacional,11 Extremadura,Viviendas con telï¿½fono fijo,"42,4"
140,Total Nacional,"14 Murcia, Regiï¿½n de",Total Viviendas,529305
194,Total Nacional,19 Melilla,Viviendas que disponen de acceso a Internet,"96,7"
121,Total Nacional,12 Galicia,Ordenadores de cualquier tipo: incluidos netbo...,"80,4"
106,Total Nacional,10 Comunitat Valenciana,Viviendas con conexiï¿½n de banda ancha fija,"86,1"
138,Total Nacional,"13 Madrid, Comunidad de",Viviendas con telï¿½fono fijo,"66,1"
119,Total Nacional,11 Extremadura,Viviendas con telï¿½fono mï¿½vil,"99,5"
2,Total Nacional,NaN,Ordenadores de sobremesa o portï¿½til (no incl...,"77,6"
0,Total Nacional,NaN,Total Viviendas,17179652

In [77]:
df_equipamiento.columns

Index(['Total Nacional', 'Comunidades y Ciudades Autï¿½nomas',
       'Tipo de equipamiento', 'Total'],
      dtype='object')

In [78]:
df_equipamiento = df_equipamiento.rename(columns = {'Comunidades y Ciudades Autï¿½nomas':'CCAA'})

In [79]:
df_equipamiento.columns

Index(['Total Nacional', 'CCAA', 'Tipo de equipamiento', 'Total'], dtype='object')

In [80]:
df_equipamiento['CCAA'].unique()

array([nan, '01 Andalucï¿½a', '02 Aragï¿½n', '03 Asturias, Principado de',
       '04 Balears, Illes', '05 Canarias', '06 Cantabria',
       '07 Castilla y Leï¿½n', '08 Castilla - La Mancha', '09 Cataluï¿½a',
       '10 Comunitat Valenciana', '11 Extremadura', '12 Galicia',
       '13 Madrid, Comunidad de', '14 Murcia, Regiï¿½n de',
       '15 Navarra, Comunidad Foral de', '16 Paï¿½s Vasco',
       '17 Rioja, La', '18 Ceuta', '19 Melilla'], dtype=object)

In [81]:
df_equipamiento['CCAA'] = df_equipamiento['CCAA'].str.replace(r'^\d+\s+', '', regex=True)

In [82]:
df_equipamiento['CCAA'].unique()

array([nan, 'Andalucï¿½a', 'Aragï¿½n', 'Asturias, Principado de',
       'Balears, Illes', 'Canarias', 'Cantabria', 'Castilla y Leï¿½n',
       'Castilla - La Mancha', 'Cataluï¿½a', 'Comunitat Valenciana',
       'Extremadura', 'Galicia', 'Madrid, Comunidad de',
       'Murcia, Regiï¿½n de', 'Navarra, Comunidad Foral de',
       'Paï¿½s Vasco', 'Rioja, La', 'Ceuta', 'Melilla'], dtype=object)

In [83]:
mapeo_ccaa = {
    'Andalucï¿½a': 'Andalucía',
    'Aragï¿½n': 'Aragón',
    'Asturias, Principado de': 'Asturias',
    'Balears, Illes': 'Baleares',
    'Canarias': 'Canarias',
    'Cantabria': 'Cantabria',
    'Castilla y Leï¿½n': 'Castilla y León',
    'Castilla - La Mancha': 'Castilla-La Mancha',
    'Cataluï¿½a': 'Cataluña',
    'Comunitat Valenciana': 'Valencia',
    'Extremadura': 'Extremadura',
    'Galicia': 'Galicia',
    'Madrid, Comunidad de': 'Madrid',
    'Murcia, Regiï¿½n de': 'Murcia',
    'Navarra, Comunidad Foral de': 'Navarra',
    'Paï¿½s Vasco': 'País Vasco',
    'Rioja, La': 'La Rioja',
    'Ceuta': 'Ceuta',
    'Melilla': 'Melilla'
}

df_equipamiento['CCAA'] = df_equipamiento['CCAA'].map(mapeo_ccaa)

In [84]:
df_equipamiento['CCAA'].unique()

array([nan, 'Andalucía', 'Aragón', 'Asturias', 'Baleares', 'Canarias',
       'Cantabria', 'Castilla y León', 'Castilla-La Mancha', 'Cataluña',
       'Valencia', 'Extremadura', 'Galicia', 'Madrid', 'Murcia',
       'Navarra', 'País Vasco', 'La Rioja', 'Ceuta', 'Melilla'],
      dtype=object)

In [85]:
df_equipamiento['Tipo de equipamiento'].unique()

array(['Total Viviendas',
       'Ordenadores de cualquier tipo: incluidos netbooks, tablets, de mano, etc.',
       'Ordenadores de sobremesa o portï¿½til (no incluye tablet)',
       'Ordenadores tipo Tablet',
       'Viviendas que disponen de acceso a Internet',
       'Viviendas con conexiï¿½n de Banda Ancha',
       'Viviendas con conexiï¿½n de banda ancha fija',
       'Viviendas con conexiï¿½n solo a travï¿½s de banda ancha  mï¿½vil',
       'Viviendas con telï¿½fono fijo',
       'Viviendas con telï¿½fono mï¿½vil'], dtype=object)

In [86]:
df_equipamiento[df_equipamiento['CCAA'].isnull()]

,Total Nacional,CCAA,Tipo de equipamiento,Total
0,Total Nacional,NaN,Total Viviendas,17179652
1,Total Nacional,NaN,Ordenadores de cualquier tipo: incluidos netbo...,83
2,Total Nacional,NaN,Ordenadores de sobremesa o portï¿½til (no incl...,"77,6"
3,Total Nacional,NaN,Ordenadores tipo Tablet,"55,8"
4,Total Nacional,NaN,Viviendas que disponen de acceso a Internet,"96,8"
5,Total Nacional,NaN,Viviendas con conexiï¿½n de Banda Ancha,"96,8"
6,Total Nacional,NaN,Viviendas con conexiï¿½n de banda ancha fija,"85,7"
7,Total Nacional,NaN,Viviendas con conexiï¿½n solo a travï¿½s de ba...,"11,1"
8,Total Nacional,NaN,Viviendas con telï¿½fono fijo,"53,9"
9,Total Nacional,NaN,Viviendas con telï¿½fono mï¿½vil,"99,5"

In [87]:
mapeo_variables = {
    'Ordenadores de cualquier tipo: incluidos netbooks, tablets, de mano, etc.': 'Ordenadores de cualquier tipo: incluidos netbooks, tablets, de mano, etc.',
    'Ordenadores de sobremesa o portï¿½til (no incluye tablet)': 'Ordenadores de sobremesa o portátil (no incluye tablet)',
    'Ordenadores tipo Tablet': 'Ordenadores tipo Tablet',
    'Viviendas que disponen de acceso a Internet': 'Viviendas que disponen de acceso a Internet',
    'Viviendas con conexiï¿½n de Banda Ancha': 'Viviendas con conexión de Banda Ancha',
    'Viviendas con conexiï¿½n de banda ancha fija': 'Viviendas con conexión de banda ancha fija',
    'Viviendas con conexiï¿½n solo a travï¿½s de banda ancha  mï¿½vil': 'Viviendas con conexión solo a través de banda ancha móvil',
    'Viviendas con telï¿½fono fijo': 'Viviendas con teléfono fijo',
    'Viviendas con telï¿½fono mï¿½vil': 'Viviendas con teléfono móvil'
}
df_equipamiento['Tipo de equipamiento'] = df_equipamiento['Tipo de equipamiento'].map(mapeo_variables)

In [88]:
df_equipamiento['Tipo de equipamiento'].unique()

array([nan,
       'Ordenadores de cualquier tipo: incluidos netbooks, tablets, de mano, etc.',
       'Ordenadores de sobremesa o portátil (no incluye tablet)',
       'Ordenadores tipo Tablet',
       'Viviendas que disponen de acceso a Internet',
       'Viviendas con conexión de Banda Ancha',
       'Viviendas con conexión de banda ancha fija',
       'Viviendas con conexión solo a través de banda ancha móvil',
       'Viviendas con teléfono fijo', 'Viviendas con teléfono móvil'],
      dtype=object)

In [89]:
df_equipamiento.sample(10)

,Total Nacional,CCAA,Tipo de equipamiento,Total
6,Total Nacional,NaN,Viviendas con conexión de banda ancha fija,"85,7"
192,Total Nacional,Melilla,Ordenadores de sobremesa o portátil (no incluy...,"79,3"
162,Total Nacional,País Vasco,Ordenadores de sobremesa o portátil (no incluy...,"78,7"
99,Total Nacional,Cataluña,Viviendas con teléfono móvil,"99,7"
172,Total Nacional,La Rioja,Ordenadores de sobremesa o portátil (no incluy...,"78,8"
155,Total Nacional,Navarra,Viviendas con conexión de Banda Ancha,97
16,Total Nacional,Andalucía,Viviendas con conexión de banda ancha fija,"84,1"
68,Total Nacional,Cantabria,Viviendas con teléfono fijo,"53,7"
31,Total Nacional,Asturias,Ordenadores de cualquier tipo: incluidos netbo...,"77,1"
129,Total Nacional,Galicia,Viviendas con teléfono móvil,"99,5"

In [90]:
df_equipamiento.to_csv('files/equipamiento_viviendas.csv', index=False)

In [91]:
df_tasa_paro = pd.read_csv('../files/inferencias/tasa-paro-gral.csv',sep=';', encoding='latin1')

In [92]:
df_tasa_paro.head()

       ï»¿Sexo Comunidades y Ciudades AutÃ³nomas   Edad Periodo Tasa paro
0  Ambos sexos                    Total Nacional  Total  2024T4     10,61
1  Ambos sexos                    Total Nacional  Total  2024T3     11,21
2  Ambos sexos                    Total Nacional  Total  2024T2     11,27
3  Ambos sexos                    Total Nacional  Total  2024T1     12,29
4  Ambos sexos                    Total Nacional  Total  2023T4      11,8

In [93]:
df_tasa_paro = df_tasa_paro.rename(columns = {'ï»¿Sexo':'sexo', 'Comunidades y Ciudades AutÃ³nomas':'CCAA',
                            'Edad':'edad',
                            'Periodo':'periodo', 'Tasa paro':'tasa_paro'})

In [94]:
df_tasa_paro.columns

Index(['sexo', 'CCAA', 'edad', 'periodo', 'tasa_paro'], dtype='object')

In [95]:
df_tasa_paro['CCAA'].unique()

array(['Total Nacional', '01 AndalucÃ\xada', '02 AragÃ³n',
       '03 Asturias, Principado de', '04 Balears, Illes', '05 Canarias',
       '06 Cantabria', '07 Castilla y LeÃ³n', '08 Castilla - La Mancha',
       '09 CataluÃ±a', '10 Comunitat Valenciana', '11 Extremadura',
       '12 Galicia', '13 Madrid, Comunidad de', '14 Murcia, RegiÃ³n de',
       '15 Navarra, Comunidad Foral de', '16 PaÃ\xads Vasco',
       '17 Rioja, La', '18 Ceuta', '19 Melilla'], dtype=object)

In [96]:
df_tasa_paro['CCAA'] = df_tasa_paro['CCAA'].str.replace(r'^\d+\s+', '', regex=True)

In [97]:
df_tasa_paro['CCAA'].unique()

array(['Total Nacional', 'AndalucÃ\xada', 'AragÃ³n',
       'Asturias, Principado de', 'Balears, Illes', 'Canarias',
       'Cantabria', 'Castilla y LeÃ³n', 'Castilla - La Mancha',
       'CataluÃ±a', 'Comunitat Valenciana', 'Extremadura', 'Galicia',
       'Madrid, Comunidad de', 'Murcia, RegiÃ³n de',
       'Navarra, Comunidad Foral de', 'PaÃ\xads Vasco', 'Rioja, La',
       'Ceuta', 'Melilla'], dtype=object)

In [98]:
mapeo_ccaa = {'Total Nacional':'España',
    'AndalucÃ\xada': 'Andalucía',
    'AragÃ³n': 'Aragón',
    'Asturias, Principado de': 'Asturias',
    'Balears, Illes': 'Baleares',
    'Canarias': 'Canarias',
    'Cantabria': 'Cantabria',
    'Castilla y LeÃ³n': 'Castilla y León',
    'Castilla - La Mancha': 'Castilla-La Mancha',
    'CataluÃ±a': 'Cataluña',
    'Comunitat Valenciana': 'Valencia',
    'Extremadura': 'Extremadura',
    'Galicia': 'Galicia',
    'Madrid, Comunidad de': 'Madrid',
    'Murcia, RegiÃ³n de': 'Murcia',
    'Navarra, Comunidad Foral de': 'Navarra',
    'PaÃ\xads Vasco': 'País Vasco',
    'Rioja, La': 'La Rioja',
    'Ceuta': 'Ceuta',
    'Melilla': 'Melilla',
}

df_tasa_paro['CCAA'] = df_tasa_paro['CCAA'].map(mapeo_ccaa)

In [99]:
len(df_tasa_paro['CCAA'].unique())

20

In [100]:
df_tasa_paro.columns

Index(['sexo', 'CCAA', 'edad', 'periodo', 'tasa_paro'], dtype='object')

In [101]:
df_tasa_paro['edad'].unique()

array(['Total', 'Menores de 25 aÃ±os', '25 y mÃ¡s aÃ±os',
       'De 16 a 19 aÃ±os', 'De 20 a 24 aÃ±os', 'De 25 a 54 aÃ±os',
       '55 y mÃ¡s aÃ±os'], dtype=object)

In [102]:
mapeo_edades = {'Total': 'Total',
    'Menores de 25 aÃ±os': 'Menores de 25 años',
    '25 y mÃ¡s aÃ±os': '25 y más años',
    'De 16 a 19 aÃ±os': 'De 16 a 19 años',
    'De 20 a 24 aÃ±os': 'De 20 a 24 años',
    'De 25 a 54 aÃ±os': 'De 25 a 54 años',
    '55 y mÃ¡s aÃ±os': '55 y más años'
}
df_tasa_paro['edad'] = df_tasa_paro['edad'].map(mapeo_edades)

In [103]:
df_tasa_paro['edad'].unique()

array(['Total', 'Menores de 25 años', '25 y más años', 'De 16 a 19 años',
       'De 20 a 24 años', 'De 25 a 54 años', '55 y más años'],
      dtype=object)

In [104]:
df_tasa_paro['periodo'].unique()

array(['2024T4', '2024T3', '2024T2', '2024T1', '2023T4', '2023T3',
       '2023T2', '2023T1', '2022T4', '2022T3', '2022T2', '2022T1',
       '2021T4', '2021T3', '2021T2', '2021T1', '2020T4', '2020T3',
       '2020T2', '2020T1', '2019T4', '2019T3', '2019T2', '2019T1',
       '2018T4', '2018T3', '2018T2', '2018T1', '2017T4', '2017T3',
       '2017T2', '2017T1', '2016T4', '2016T3', '2016T2', '2016T1',
       '2015T4', '2015T3', '2015T2', '2015T1', '2014T4', '2014T3',
       '2014T2', '2014T1', '2013T4', '2013T3', '2013T2', '2013T1',
       '2012T4', '2012T3', '2012T2', '2012T1', '2011T4', '2011T3',
       '2011T2', '2011T1', '2010T4', '2010T3', '2010T2', '2010T1',
       '2009T4', '2009T3', '2009T2', '2009T1', '2008T4', '2008T3',
       '2008T2', '2008T1', '2007T4', '2007T3', '2007T2', '2007T1',
       '2006T4', '2006T3', '2006T2', '2006T1', '2005T4', '2005T3',
       '2005T2', '2005T1', '2004T4', '2004T3', '2004T2', '2004T1',
       '2003T4', '2003T3', '2003T2', '2003T1', '2002T4', '2002T3',
       '2002T2', '2002T1'], dtype=object)

In [105]:
df_tasa_paro['sexo'].unique()

array(['Ambos sexos', 'Hombres', 'Mujeres'], dtype=object)

In [106]:
df_tasa_paro.to_csv('files/tasa_paro_gral.csv', index=False)

In [138]:
df_equip = pd.read_csv('../files/csv/evolucion-tipo-equipamiento-ccaa.csv', sep=';', encoding='latin1')

In [109]:
df_equip.head()

,Comunidades y Ciudades AutÃ³nomas,Tipo de equipamiento,Periodo,Total
0,Total nacional,Viviendas con algÃºn tipo de ordenador,2024,83
1,Total nacional,Viviendas con algÃºn tipo de ordenador,2023,"82,6"
2,Total nacional,Viviendas con algÃºn tipo de ordenador,2022,"82,9"
3,Total nacional,Viviendas con algÃºn tipo de ordenador,2021,"83,7"
4,Total nacional,Viviendas con algÃºn tipo de ordenador,2020,"81,4"

In [117]:
df_equip['Comunidades y Ciudades AutÃ³nomas'].unique()

array(['Total nacional', 'AndalucÃ\xada', 'AragÃ³n',
       'Asturias, Principado de', 'Balears, Illes', 'Canarias',
       'Cantabria', 'Castilla y LeÃ³n', 'Castilla-La Mancha', 'CataluÃ±a',
       'Comunitat Valenciana', 'Extremadura', 'Galicia',
       'Madrid, Comunidad de', 'Murcia, RegiÃ³n de',
       'Navarra, Comunidad Foral de', 'PaÃ\xads Vasco', 'Rioja, La',
       'Ceuta', 'Melilla'], dtype=object)

In [139]:
mapeo_CCAA = {
    'Total nacional': 'España',
    'AndalucÃ\xada': 'Andalucía',
    'AragÃ³n': 'Aragón',
    'Asturias, Principado de': 'Principado de Asturias',
    'Balears, Illes': 'Islas Baleares',
    'Canarias': 'Islas Canarias',
    'Cantabria': 'Cantabria',
    'Castilla y LeÃ³n': 'Castilla y León',
    'Castilla-La Mancha': 'Castilla-La Mancha',
    'CataluÃ±a': 'Cataluña',
    'Comunitat Valenciana': 'Comunidad Valenciana',
    'Extremadura': 'Extremadura',
    'Galicia': 'Galicia',
    'Madrid, Comunidad de': 'Comunidad de Madrid',
    'Murcia, RegiÃ³n de': 'Región de Murcia',
    'Navarra, Comunidad Foral de': 'Comunidad Foral de Navarra',
    'PaÃ\xads Vasco': 'País Vasco',
    'Rioja, La': 'La Rioja',
    'Ceuta': 'Ceuta',
    'Melilla': 'Melilla'
}

df_equip['Comunidades y Ciudades AutÃ³nomas'] = df_equip['Comunidades y Ciudades AutÃ³nomas'].map(mapeo_CCAA)

In [140]:
df_equip['Comunidades y Ciudades AutÃ³nomas'].unique()

array(['España', 'Andalucía', 'Aragón', 'Principado de Asturias',
       'Islas Baleares', 'Islas Canarias', 'Cantabria', 'Castilla y León',
       'Castilla-La Mancha', 'Cataluña', 'Comunidad Valenciana',
       'Extremadura', 'Galicia', 'Comunidad de Madrid',
       'Región de Murcia', 'Comunidad Foral de Navarra', 'País Vasco',
       'La Rioja', 'Ceuta', 'Melilla'], dtype=object)

In [141]:
df_equip['Tipo de equipamiento'].unique()

array(['Viviendas con algÃºn tipo de ordenador',
       'Viviendas que disponen de acceso a Internet',
       'Viviendas con conexiÃ³n de Banda Ancha  (ADSL, Red de cable, etc.)',
       'Viviendas con telÃ©fono fijo', 'Viviendas con telÃ©fono mÃ³vil'],
      dtype=object)

In [142]:
mapeo = {
    'Viviendas con algÃºn tipo de ordenador': 'Viviendas con algún tipo de ordenador',
    'Viviendas que disponen de acceso a Internet': 'Viviendas que disponen de acceso a Internet',
    'Viviendas con conexiÃ³n de Banda Ancha  (ADSL, Red de cable, etc.)': 'Viviendas con conexión de Banda Ancha (ADSL, Red de cable, etc.)',
    'Viviendas con telÃ©fono fijo': 'Viviendas con teléfono fijo',
    'Viviendas con telÃ©fono mÃ³vil': 'Viviendas con teléfono móvil'
}

df_equip['Tipo de equipamiento'] = df_equip['Tipo de equipamiento'].replace(mapeo)

In [143]:
df_equip['Tipo de equipamiento'].unique()

array(['Viviendas con algún tipo de ordenador',
       'Viviendas que disponen de acceso a Internet',
       'Viviendas con conexión de Banda Ancha (ADSL, Red de cable, etc.)',
       'Viviendas con teléfono fijo', 'Viviendas con teléfono móvil'],
      dtype=object)

In [144]:
df_equip['Periodo'].unique()

array([2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014,
       2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006])

In [145]:
df_equip.columns

Index(['Comunidades y Ciudades AutÃ³nomas', 'Tipo de equipamiento', 'Periodo',
       'Total'],
      dtype='object')

In [146]:
df_equip = df_equip.rename(columns = {'Comunidades y Ciudades AutÃ³nomas':'CCAA'})

In [147]:
df_equip.columns

Index(['CCAA', 'Tipo de equipamiento', 'Periodo', 'Total'], dtype='object')

In [148]:
df_equip.to_csv('files/evolucion_equipamiento_viviendas.csv', index=False)