In [103]:
import pandas as pd
import numpy as np

In [104]:
df_educacion = pd.read_csv('../files/csv/inferencias/educacion_TIC.csv', sep=';', encoding='latin1')

In [105]:
df_educacion.head()

,Sexo,Caracterï¿½sticas socioeconï¿½micas,Tipo de uso de TIC,Total
0,Ambos sexos,Total Personas,Total Personas,36663412
1,Ambos sexos,Total Personas,Personas que han utilizado el telï¿½fono mï¿½vil,"99,1"
2,Ambos sexos,Total Personas,Personas que han utilizado Internet en los ï¿½...,"95,8"
3,Ambos sexos,Total Personas,Personas que han utilizado Internet al menos u...,95
4,Ambos sexos,Total Personas,Personas que han utilizado Internet diariament...,"91,5"

In [106]:
df_educacion. columns

Index(['Sexo', 'Caracterï¿½sticas socioeconï¿½micas', 'Tipo de uso de TIC',
       'Total'],
      dtype='object')

In [107]:
df_educacion.rename(columns={
    'Caracterï¿½sticas socioeconï¿½micas': 'caracts_socioecon',
    'Tipo de uso de TIC': 'uso_TIC',
    'Sexo':'sexo',
    'Total':'total'
}, inplace=True)

In [108]:
df_educacion.columns

Index(['sexo', 'caracts_socioecon', 'uso_TIC', 'total'], dtype='object')

In [109]:
df_educacion['sexo'].value_counts()

sexo
Ambos sexos     198
Sexo: Hombre    198
Sexo: Mujer     198
Name: count, dtype: int64

In [129]:
df_educacion['sexo'].value_counts()

Series([], Name: count, dtype: int64)

In [130]:
map = {'Sexo: Mujer': 'mujer',
        'Sexo: Hombre': 'hombre'}

df_educacion['sexo'] = df_educacion['sexo'].map(map)

In [131]:
df_educacion['sexo'].value_counts()

Series([], Name: count, dtype: int64)

In [132]:
df_educacion['uso_TIC'].value_counts()

Series([], Name: count, dtype: int64)

In [133]:
df_educacion['uso_TIC'] = df_educacion['uso_TIC'].str.lower()

In [134]:
df_educacion['uso_TIC'].value_counts()

Series([], Name: count, dtype: int64)

In [135]:
map = {'personas que han utilizado el telï¿½fono mï¿½vil': 'telef_mov', 
    'personas que han utilizado internet en los ï¿½ltimos 3 meses':'uso_internet_ultimos3meses',
    'personas que han utilizado internet al menos una vez por semana en los ï¿½ltimos 3 meses':'uso_internet_semanal',
    'personas que han utilizado internet diariamente (al menos 5 dï¿½as a la semana)':'uso_internet_diario',
    'personas que han comprado a travï¿½s de internet en los ï¿½ltimos 3 meses':'compra_online_ultimos3meses'}

df_educacion['uso_TIC']= df_educacion['uso_TIC'].map(map)

In [136]:
df_educacion['uso_TIC'].value_counts()

Series([], Name: count, dtype: int64)

In [ ]:
df_educacion['caracts_socioecon'].value_counts()

In [139]:
# Reconvertimos desde latin1 a utf-8
df_educacion['caracts_socioecon'] = df_educacion['caracts_socioecon'].apply(lambda x: x.encode('latin1').decode('utf-8'))

In [142]:
df_educacion['caracts_socioecon'].value_counts()

caracts_socioecon
Total Personas                                                                                       18
Situaci�n Profesional (en trabajo principal): Trabajador por cuenta ajena con contrato temporal      18
Ingresos mensuales netos del hogar: 3.900 o m�s euros                                                18
Ingresos mensuales netos del hogar: De 2.700 a menos de 3.900 euros                                  18
Ingresos mensuales netos del hogar: De 1.900 a menos de 2.700 euros                                  18
Ingresos mensuales netos del hogar: De 1.200 a menos de 1.900 euros                                  18
Ingresos mensuales netos del hogar: Menos de 1.200 euros                                             18
Ocupaci�n principal: Otros trabajadores                                                              18
Ocupaci�n principal: Trabajadores TIC                                                                18
Ocupaci�n principal: No Manual                                                                       18
Ocupaci�n principal: Manual                                                                          18
Jornada laboral (en trabajo principal) : A tiempo parcial                                            18
Jornada laboral (en trabajo principal) : A tiempo completo                                           18
Situaci�n Profesional (en trabajo principal):  Ayuda familiar (sin sueldo estipulado)                18
Situaci�n Profesional (en trabajo principal): Trabajador por cuenta propia sin empleados             18
Situaci�n Profesional (en trabajo principal): Trabajador por cuenta propia  con empleados            18
Situaci�n Profesional (en trabajo principal): Trabajador por cuenta ajena con contrato indefinido    18
Estudios terminados: Menos que primaria                                                              18
Situaci�n laboral: Otra situaci�n laboral                                                            18
Situaci�n laboral: Inactivos: Pensionistas                                                           18
Situaci�n laboral: Inactivos: Labores del hogar                                                      18
Situaci�n laboral: Inactivos: Estudiantes                                                            18
Situaci�n laboral: Activos parados                                                                   18
Situaci�n laboral: Activos ocupados                                                                  18
Estudios terminados: Otros                                                                           18
Estudios terminados: Doctorado universitario                                                         18
Estudios terminados: Licenciatura universitaria, m�ster y equivalentes                               18
Estudios terminados: Diplomatura universitaria y equivalentes                                        18
Estudios terminados: Formaci�n Profesional de Grado Superior                                         18
Estudios terminados: Segunda etapa de Educaci�n Secundaria                                           18
Estudios terminados: Primera etapa de Educaci�n Secundaria                                           18
Estudios terminados: Educaci�n Primaria                                                              18
Ingresos mensuales netos del hogar: NS/NR                                                            18
Name: count, dtype: int64

In [145]:
df_equipamiento = pd.read_csv('../files/csv/inferencias/equipamiento viviendas.csv',sep=';', encoding='latin1')

In [146]:
df_equipamiento.sample(10)

,Total Nacional,Comunidades y Ciudades Autï¿½nomas,Tipo de equipamiento,Total
38,Total Nacional,"03 Asturias, Principado de",Viviendas con telï¿½fono fijo,"48,2"
195,Total Nacional,19 Melilla,Viviendas con conexiï¿½n de Banda Ancha,"96,7"
91,Total Nacional,09 Cataluï¿½a,Ordenadores de cualquier tipo: incluidos netbo...,"86,1"
61,Total Nacional,06 Cantabria,Ordenadores de cualquier tipo: incluidos netbo...,"81,5"
192,Total Nacional,19 Melilla,Ordenadores de sobremesa o portï¿½til (no incl...,"79,3"
156,Total Nacional,"15 Navarra, Comunidad Foral de",Viviendas con conexiï¿½n de banda ancha fija,"85,5"
5,Total Nacional,NaN,Viviendas con conexiï¿½n de Banda Ancha,"96,8"
67,Total Nacional,06 Cantabria,Viviendas con conexiï¿½n solo a travï¿½s de ba...,"15,1"
94,Total Nacional,09 Cataluï¿½a,Viviendas que disponen de acceso a Internet,"97,7"
56,Total Nacional,05 Canarias,Viviendas con conexiï¿½n de banda ancha fija,"83,8"

In [150]:
df_tasa_paro = pd.read_csv('../files/csv/inferencias/tasa-paro-gral.csv',sep=';', encoding='latin1')

In [151]:
df_tasa_paro.head()

       ï»¿Sexo Comunidades y Ciudades AutÃ³nomas   Edad Periodo Tasa paro
0  Ambos sexos                    Total Nacional  Total  2024T4     10,61
1  Ambos sexos                    Total Nacional  Total  2024T3     11,21
2  Ambos sexos                    Total Nacional  Total  2024T2     11,27
3  Ambos sexos                    Total Nacional  Total  2024T1     12,29
4  Ambos sexos                    Total Nacional  Total  2023T4      11,8

In [153]:
df_tasa_paro.rename(columns = {'ï»¿Sexo':'sexo', 'Comunidades y Ciudades AutÃ³nomas':'CCAA',
                            'Edad':'edad',
                            'Periodo':'periodo', 'Tasa paro':'tasa_paro'})

              sexo            CCAA             edad periodo tasa_paro
0      Ambos sexos  Total Nacional            Total  2024T4     10,61
1      Ambos sexos  Total Nacional            Total  2024T3     11,21
2      Ambos sexos  Total Nacional            Total  2024T2     11,27
3      Ambos sexos  Total Nacional            Total  2024T1     12,29
4      Ambos sexos  Total Nacional            Total  2023T4      11,8
...            ...             ...              ...     ...       ...
38635      Mujeres      19 Melilla  55 y mÃ¡s aÃ±os  2003T1         0
38636      Mujeres      19 Melilla  55 y mÃ¡s aÃ±os  2002T4         0
38637      Mujeres      19 Melilla  55 y mÃ¡s aÃ±os  2002T3         0
38638      Mujeres      19 Melilla  55 y mÃ¡s aÃ±os  2002T2         0
38639      Mujeres      19 Melilla  55 y mÃ¡s aÃ±os  2002T1     11,32

[38640 rows x 5 columns]